body {
  margin: 0;
  padding: 0;

  background-color: #ccc;
}

.wrapper {
  margin: 80px auto auto;
  width: 480px;

  background-color: #D9EAFE;

  border-radius: 5px 5px 0 0;
}

.vcard {
  padding: 24px 36px;
  text-align: center;

}
.vcard img {
  width:200px;
  border-radius:100px;
}
.name {
  font-weight: bold;
}
.id {
  font-size: 90%;
}

.stats {
  display:flex;
  width: 100%;

  background-color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.stats div {
  flex: 1;
  padding: 12px 8px;
}

.tweet_count {
  border-right: 1px solid #ccc;
}
.follower {
  border-right: 1px solid #ccc;
}

.tweet ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tweet ul li {
  display: flex;
  margin-top: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  background-color: white;
}

.tweet-img {
  flex: 1;
  text-align: center;
}
.tweet-img img {
  width: 70px;
}

.tweet-body {
  flex: 4;
}
.tweet-name {
  font-weight: bold;
  display: inline-block;
}
.tweet-id {
  font-size: 80%;
  display: inline-block;
}
.tweet-text {
  font-size: 80%;
}

@media screen and (max-width: 768px) {
    /*768px以下のcssを指定*/
}
@media screen and (max-width: 375px) {
    /*375px以下の*/
    .wrapper {
      margin: 8px auto auto;
      width: 95%;
    }
}
